<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)">
  <Profiles>
    <Profile Name="(Default)" />
  </Profiles>
	<connectionStrings>
		<add name="Banco"
			 connectionString="Server=127.0.01;Port=3306;Database=local_projetoguardachuva;User=teste;Password=@Cc20122002;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</SettingsFile>
